# Livros - csv

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('livros.csv')
df.head()

,Book,Author(s),Original language,First published,Approximate sales in millions,Genre
0,A Tale of Two Cities,Charles Dickens,English,1859,200.0,Historical fiction
1,The Little Prince (Le Petit Prince),Antoine de Saint-Exupéry,French,1943,200.0,Novella
2,Harry Potter and the Philosopher's Stone,J. K. Rowling,English,1997,120.0,Fantasy
3,And Then There Were None,Agatha Christie,English,1939,100.0,Mystery
4,Dream of the Red Chamber (紅樓夢),Cao Xueqin,Chinese,1791,100.0,Family saga

In [5]:
df.shape

(174, 6)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Book                           174 non-null    object
 1   Author(s)                      174 non-null    object
 2   Original language              174 non-null    object
 3   First published                174 non-null    int64
 4   Approximate sales in millions  174 non-null    float64
 5   Genre                          118 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 8.3+ KB

In [7]:
df.columns

Index(['Book', 'Author(s)', 'Original language', 'First published',
       'Approximate sales in millions', 'Genre'],
      dtype='object')

In [8]:
# renomear as colunas para o portugues
traducao = {
    'Book':'livro',
    'Author(s)':'autor',
    'Original language':'idioma_original',
    'First published':'ano_publicacao',
    'Approximate sales in millions':'vendas',
    'Genre':'genero'
}

df.rename(columns=traducao, inplace=True)
df.head()

,livro,autor,idioma_original,ano_publicacao,vendas,genero
0,A Tale of Two Cities,Charles Dickens,English,1859,200.0,Historical fiction
1,The Little Prince (Le Petit Prince),Antoine de Saint-Exupéry,French,1943,200.0,Novella
2,Harry Potter and the Philosopher's Stone,J. K. Rowling,English,1997,120.0,Fantasy
3,And Then There Were None,Agatha Christie,English,1939,100.0,Mystery
4,Dream of the Red Chamber (紅樓夢),Cao Xueqin,Chinese,1791,100.0,Family saga

In [9]:
# dados nulos
df.isnull().sum()

livro               0
autor               0
idioma_original     0
ano_publicacao      0
vendas              0
genero             56
dtype: int64

In [10]:
df['autor'].value_counts().head(10)

autor
J. K. Rowling       7
Suzanne Collins     3
Dan Brown           3
Roald Dahl          3
George Orwell       2
Erskine Caldwell    2
Ken Follett         2
Albert Camus        2
E. L. James         2
Sam McBratney       1
Name: count, dtype: int64

In [11]:
df[df['autor'] == 'J. K. Rowling']

,livro,autor,idioma_original,ano_publicacao,vendas,genero
2,Harry Potter and the Philosopher's Stone,J. K. Rowling,English,1997,120.0,Fantasy
10,Harry Potter and the Chamber of Secrets,J. K. Rowling,English,1998,77.0,Fantasy
11,Harry Potter and the Prisoner of Azkaban,J. K. Rowling,English,1999,65.0,Fantasy
12,Harry Potter and the Goblet of Fire,J. K. Rowling,English,2000,65.0,Fantasy
13,Harry Potter and the Order of the Phoenix,J. K. Rowling,English,2003,65.0,Fantasy
14,Harry Potter and the Half-Blood Prince,J. K. Rowling,English,2005,65.0,Fantasy
15,Harry Potter and the Deathly Hallows,J. K. Rowling,English,2007,65.0,Fantasy

In [12]:
# Cria um novo DataFrame apenas com os autores únicos encontrados na coluna 'autor' do DataFrame original (df)
# .unique() retorna uma lista com cada autor aparecendo apenas uma vez
# Isso é necessário para que possamos gerar um único ID para cada autor
autores_unicos = pd.DataFrame(df['autor'].unique(), columns=['autor'])

# Cria uma nova coluna chamada 'autor_id' no DataFrame de autores únicos
# Atribui um ID numérico sequencial a cada autor, começando de 1
# Isso garante que cada autor tenha um identificador exclusivo e consistente
autores_unicos['autor_id'] = autores_unicos.index + 1

# Faz um merge (junção) entre o DataFrame original (df) e o DataFrame de autores únicos (autores_unicos)
# A junção é feita com base na coluna 'autor' (chave de correspondência)
# O tipo de junção é 'left', o que significa que todas as linhas do df original são mantidas
# e os IDs correspondentes dos autores são adicionados na nova coluna 'autor_id'
df = df.merge(autores_unicos, on='autor', how='left')

# Isso serve para verificar se a coluna 'autor_id' foi corretamente adicionada e associada
df.head()

,livro,autor,idioma_original,ano_publicacao,vendas,genero,autor_id
0,A Tale of Two Cities,Charles Dickens,English,1859,200.0,Historical fiction,1
1,The Little Prince (Le Petit Prince),Antoine de Saint-Exupéry,French,1943,200.0,Novella,2
2,Harry Potter and the Philosopher's Stone,J. K. Rowling,English,1997,120.0,Fantasy,3
3,And Then There Were None,Agatha Christie,English,1939,100.0,Mystery,4
4,Dream of the Red Chamber (紅樓夢),Cao Xueqin,Chinese,1791,100.0,Family saga,5

In [13]:
df[df['autor'] == 'J. K. Rowling']

,livro,autor,idioma_original,ano_publicacao,vendas,genero,autor_id
2,Harry Potter and the Philosopher's Stone,J. K. Rowling,English,1997,120.0,Fantasy,3
10,Harry Potter and the Chamber of Secrets,J. K. Rowling,English,1998,77.0,Fantasy,3
11,Harry Potter and the Prisoner of Azkaban,J. K. Rowling,English,1999,65.0,Fantasy,3
12,Harry Potter and the Goblet of Fire,J. K. Rowling,English,2000,65.0,Fantasy,3
13,Harry Potter and the Order of the Phoenix,J. K. Rowling,English,2003,65.0,Fantasy,3
14,Harry Potter and the Half-Blood Prince,J. K. Rowling,English,2005,65.0,Fantasy,3
15,Harry Potter and the Deathly Hallows,J. K. Rowling,English,2007,65.0,Fantasy,3

In [14]:
generos_unicos = pd.DataFrame(df['genero'].unique(), columns=['genero'])
generos_unicos['genero_id'] = generos_unicos.index + 1
df = df.merge(generos_unicos, on='genero', how='left')
df.head()

,livro,autor,idioma_original,ano_publicacao,vendas,genero,autor_id,genero_id
0,A Tale of Two Cities,Charles Dickens,English,1859,200.0,Historical fiction,1,1
1,The Little Prince (Le Petit Prince),Antoine de Saint-Exupéry,French,1943,200.0,Novella,2,2
2,Harry Potter and the Philosopher's Stone,J. K. Rowling,English,1997,120.0,Fantasy,3,3
3,And Then There Were None,Agatha Christie,English,1939,100.0,Mystery,4,4
4,Dream of the Red Chamber (紅樓夢),Cao Xueqin,Chinese,1791,100.0,Family saga,5,5

In [15]:
df[df['autor'] == 'J. K. Rowling']

,livro,autor,idioma_original,ano_publicacao,vendas,genero,autor_id,genero_id
2,Harry Potter and the Philosopher's Stone,J. K. Rowling,English,1997,120.0,Fantasy,3,3
10,Harry Potter and the Chamber of Secrets,J. K. Rowling,English,1998,77.0,Fantasy,3,3
11,Harry Potter and the Prisoner of Azkaban,J. K. Rowling,English,1999,65.0,Fantasy,3,3
12,Harry Potter and the Goblet of Fire,J. K. Rowling,English,2000,65.0,Fantasy,3,3
13,Harry Potter and the Order of the Phoenix,J. K. Rowling,English,2003,65.0,Fantasy,3,3
14,Harry Potter and the Half-Blood Prince,J. K. Rowling,English,2005,65.0,Fantasy,3,3
15,Harry Potter and the Deathly Hallows,J. K. Rowling,English,2007,65.0,Fantasy,3,3

In [16]:
autores = pd.DataFrame(df['autor'].unique(), columns=['nome'])
generos = pd.DataFrame(df['genero'].unique(), columns=['genero'])

In [17]:
with open('autores.sql', 'w', encoding='utf-8') as f:
  for _, row in autores.iterrows():
        nome = row['nome'].replace("'", "''")  # aspas simples para SQL
        f.write(f"INSERT INTO autores (nome) VALUES ('{nome}');\n")

In [18]:
df['genero'] = df['genero'].fillna('Unknown')
df.head(20)

,livro,autor,idioma_original,ano_publicacao,vendas,genero,autor_id,genero_id
0,A Tale of Two Cities,Charles Dickens,English,1859,200.0,Historical fiction,1,1
1,The Little Prince (Le Petit Prince),Antoine de Saint-Exupéry,French,1943,200.0,Novella,2,2
2,Harry Potter and the Philosopher's Stone,J. K. Rowling,English,1997,120.0,Fantasy,3,3
3,And Then There Were None,Agatha Christie,English,1939,100.0,Mystery,4,4
4,Dream of the Red Chamber (紅樓夢),Cao Xueqin,Chinese,1791,100.0,Family saga,5,5
5,The Hobbit,J. R. R. Tolkien,English,1937,100.0,Fantasy,6,3
6,"The Lion, the Witch and the Wardrobe",C. S. Lewis,English,1950,85.0,"Fantasy, Children's fiction",7,6
7,She: A History of Adventure,H. Rider Haggard,English,1887,83.0,Adventure,8,7
8,Vardi Wala Gunda (वर्दी वाला गुंडा),Ved Prakash Sharma,Hindi,1992,80.0,Detective,9,8
9,The Da Vinci Code,Dan Brown,English,2003,80.0,Mystery thriller,10,9
10,Harry Potter and the Chamber of Secrets,J. K. Rowling,English,1998,77.0,Fantasy,3,3
11,Harry Potter and the Prisoner of Azkaban,J. K. Rowling,English,1999,65.0,Fantasy,3,3
12,Harry Potter and the Goblet of Fire,J. K. Rowling,English,2000,65.0,Fantasy,3,3
13,Harry Potter and the Order of the Phoenix,J. K. Rowling,English,2003,65.0,Fantasy,3,3
14,Harry Potter and the Half-Blood Prince,J. K. Rowling,English,2005,65.0,Fantasy,3,3
15,Harry Potter and the Deathly Hallows,J. K. Rowling,English,2007,65.0,Fantasy,3,3
16,The Alchemist (O Alquimista),Paulo Coelho,Portuguese,1988,65.0,Fantasy,11,3
17,The Catcher in the Rye,J. D. Salinger,English,1951,65.0,Coming-of-age,12,10
18,The Bridges of Madison County,Robert James Waller,English,1992,60.0,Romance,13,11
19,Ben-Hur: A Tale of the Christ,Lew Wallace,English,1880,50.0,Historical fiction,14,1

In [19]:
df['genero'].isnull().sum()

0

In [20]:
generos = pd.DataFrame(df['genero'].unique(), columns=['genero'])
generos

                           genero
0              Historical fiction
1                         Novella
2                         Fantasy
3                         Mystery
4                     Family saga
..                            ...
76  Historical fiction, war novel
77                        Erotica
78                Science fiction
79              Dystopian fiction
80                         Horror

[81 rows x 1 columns]

In [21]:
!pip install -q deep-translator

from deep_translator import GoogleTranslator

# Supondo que você tenha um DataFrame chamado generos com a coluna 'genero'
generos['genero_pt'] = generos['genero'].apply(
    lambda x: GoogleTranslator(source='auto', target='pt').translate(x)
)

generos.head()

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: C:\Users\kaiof\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

               genero         genero_pt
0  Historical fiction  Ficção histórica
1             Novella           Novella
2             Fantasy          Fantasia
3             Mystery          Mistério
4         Family saga   Saga da família

In [22]:
generos['genero_pt'] = generos['genero_pt'].replace('Novella', 'Novela')
generos.head()

               genero         genero_pt
0  Historical fiction  Ficção histórica
1             Novella            Novela
2             Fantasy          Fantasia
3             Mystery          Mistério
4         Family saga   Saga da família

In [23]:
generos['genero_pt'] = generos['genero_pt'].str.lower()
generos.head()

               genero         genero_pt
0  Historical fiction  ficção histórica
1             Novella            novela
2             Fantasy          fantasia
3             Mystery          mistério
4         Family saga   saga da família

In [24]:
generos.shape

(81, 2)

In [25]:
with open('generos.sql', 'w', encoding='utf-8') as f:
    for nome in generos['genero_pt']:
        nome_escapado = nome.replace("'", "''")  # aspas simples para SQL
        f.write(f"INSERT INTO generos (nome) VALUES ('{nome_escapado}');\n")

In [26]:
with open('livros.sql', 'w', encoding='utf-8') as f:
    for _, row in df.iterrows():
        nome_livro = row['livro'].replace("'", "''")  # Escapa aspas simples
        idioma = row['idioma_original'].replace("'", "''")
        ano = int(row['ano_publicacao'])
        vendas = float(row['vendas'])
        autor_id = int(row['autor_id'])
        genero_id = int(row['genero_id'])

        sql = (
            f"INSERT INTO livros (nome, idioma, ano_publicacao, vendas, autor_id, genero_id) "
            f"VALUES ('{nome_livro}', '{idioma}', {ano}, {vendas:.2f}, {autor_id}, {genero_id});\n"
        )
        f.write(sql)

# Lojas - API

In [27]:
# https://raw.githubusercontent.com/guilhermeonrails/datas-csv/refs/heads/main/comentarios.json

In [28]:
import pandas as pd

api = 'https://raw.githubusercontent.com/guilhermeonrails/datas-csv/refs/heads/main/comentarios.json'
df_comentarios = pd.read_json(api)
df_comentarios.head()

,id,livro,nome,sobrenome,comentario
0,1,The Dukan Diet,Danielle,Johnson,Achei a história envolvente e bem escrita.
1,2,"The Lion, the Witch and the Wardrobe",Joshua,Walker,Esperava mais do enredo.
2,3,James and the Giant Peach,Jill,Rhodes,Personagens cativantes e trama surpreendente.
3,4,The Very Hungry Caterpillar,Patricia,Miller,Achei a história envolvente e bem escrita.
4,5,Bridget Jones's Diary,Robert,Johnson,Um dos melhores que já li.

In [29]:
df_comentarios.shape

(10000, 5)

In [30]:
df.head(2)

,livro,autor,idioma_original,ano_publicacao,vendas,genero,autor_id,genero_id
0,A Tale of Two Cities,Charles Dickens,English,1859,200.0,Historical fiction,1,1
1,The Little Prince (Le Petit Prince),Antoine de Saint-Exupéry,French,1943,200.0,Novella,2,2

In [31]:
df_comentarios = df_comentarios.merge(
    df[['livro']].reset_index().rename(columns={'index': 'id_livro'}),
    on='livro',
    how='left'
)
df_comentarios.head()

,id,livro,nome,sobrenome,comentario,id_livro
0,1,The Dukan Diet,Danielle,Johnson,Achei a história envolvente e bem escrita.,163
1,2,"The Lion, the Witch and the Wardrobe",Joshua,Walker,Esperava mais do enredo.,6
2,3,James and the Giant Peach,Jill,Rhodes,Personagens cativantes e trama surpreendente.,62
3,4,The Very Hungry Caterpillar,Patricia,Miller,Achei a história envolvente e bem escrita.,35
4,5,Bridget Jones's Diary,Robert,Johnson,Um dos melhores que já li.,173

In [32]:
df_comentarios.isnull().sum()

id            0
livro         0
nome          0
sobrenome     0
comentario    0
id_livro      0
dtype: int64

In [33]:
print(f"{df_comentarios['id_livro'].max()} {df_comentarios['id_livro'].min()}")

173 0

In [34]:
df_comentarios[df_comentarios['id_livro'] == 0]

,id,livro,nome,sobrenome,comentario,id_livro
138,139,A Tale of Two Cities,Daniel,Tran,"Um pouco lento no início, mas depois melhora.",0
192,193,A Tale of Two Cities,Richard,Phillips,Simplesmente maravilhoso!,0
447,448,A Tale of Two Cities,James,Cruz,"Um pouco lento no início, mas depois melhora.",0
494,495,A Tale of Two Cities,Julia,Moore,Um dos melhores que já li.,0
524,525,A Tale of Two Cities,Sonia,Williams,Esperava mais do enredo.,0
663,664,A Tale of Two Cities,Nicholas,Martin,Esperava mais do enredo.,0
1641,1642,A Tale of Two Cities,Kurt,French,Achei a história envolvente e bem escrita.,0
1759,1760,A Tale of Two Cities,Christopher,Munoz,"Uma leitura incrível, recomendo!",0
1921,1922,A Tale of Two Cities,Leslie,Patterson,"Boa leitura, mas não é meu estilo.",0
2210,2211,A Tale of Two Cities,Kayla,Wright,"Uma leitura incrível, recomendo!",0
2279,2280,A Tale of Two Cities,Colleen,White,Achei a história envolvente e bem escrita.,0
2292,2293,A Tale of Two Cities,Anna,Lewis,Simplesmente maravilhoso!,0
2592,2593,A Tale of Two Cities,Dakota,Roth,"Um pouco lento no início, mas depois melhora.",0
2821,2822,A Tale of Two Cities,Elizabeth,Williams,Um dos melhores que já li.,0
2920,2921,A Tale of Two Cities,David,Clarke,Um dos melhores que já li.,0
3253,3254,A Tale of Two Cities,David,Reeves,Achei a história envolvente e bem escrita.,0
3415,3416,A Tale of Two Cities,Kara,Estrada,Um dos melhores que já li.,0
3577,3578,A Tale of Two Cities,Olivia,Adams,"Um pouco lento no início, mas depois melhora.",0
4202,4203,A Tale of Two Cities,Brian,Swanson,"Um pouco lento no início, mas depois melhora.",0
4672,4673,A Tale of Two Cities,Judy,House,"Uma leitura incrível, recomendo!",0
4737,4738,A Tale of Two Cities,Daniel,Morris,"Um pouco lento no início, mas depois melhora.",0
4829,4830,A Tale of Two Cities,Donna,Thomas,Personagens cativantes e trama surpreendente.,0
5242,5243,A Tale of Two Cities,Tracy,Jenkins,"Li em um dia, não consegui parar!",0
5251,5252,A Tale of Two Cities,Lori,Parker,Simplesmente maravilhoso!,0
5504,5505,A Tale of Two Cities,Devin,Lopez,"Boa leitura, mas não é meu estilo.",0
5588,5589,A Tale of Two Cities,Mike,Carter,"Uma leitura incrível, recomendo!",0
5638,5639,A Tale of Two Cities,Steven,Rivers,Não gostei muito do final.,0
5717,5718,A Tale of Two Cities,Ashley,Perkins,Personagens cativantes e trama surpreendente.,0
5741,5742,A Tale of Two Cities,Chelsea,Duncan,Não gostei muito do final.,0
5766,5767,A Tale of Two Cities,Mark,Castillo,Personagens cativantes e trama surpreendente.,0
5949,5950,A Tale of Two Cities,John,Peters,"Li em um dia, não consegui parar!",0
6240,6241,A Tale of Two Cities,Cheyenne,Reed,Achei a história envolvente e bem escrita.,0
6255,6256,A Tale of Two Cities,Paul,Cox,"Li em um dia, não consegui parar!",0
6376,6377,A Tale of Two Cities,Tammy,King,Não gostei muito do final.,0
6789,6790,A Tale of Two Cities,Joseph,Macias,"Um pouco lento no início, mas depois melhora.",0
6975,6976,A Tale of Two Cities,Tracey,Parker,Personagens cativantes e trama surpreendente.,0
7311,7312,A Tale of Two Cities,Dylan,Barnett,Um dos melhores que já li.,0
7747,7748,A Tale of Two Cities,Matthew,Chapman,Achei a história envolvente e bem escrita.,0
8582,8583,A Tale of Two Cities,Fernando,Reeves,Um dos melhores que já li.,0
8772,8773,A Tale of Two Cities,Dominique,Williams,Achei a história envolvente e bem escrita.,0
8910,8911,A Tale of Two Cities,Nicole,Davis,Esperava mais do enredo.,0
9120,9121,A Tale of Two Cities,Destiny,Armstrong,Achei a história envolvente e bem escrita.,0
9309,9310,A Tale of Two Cities,David,Kennedy,Personagens cativantes e trama surpreendente.,0
9327,9328,A Tale of Two Cities,Sheila,White,"Um pouco lento no início, mas depois melhora.",0
9762,9763,A Tale of Two Cities,Sara,Simmons,Simplesmente maravilhoso!,0
9791,9792,A Tale of Two Cities,Ricardo,Hernandez,"Uma leitura incrível, recomendo!",0
9968,9969,A Tale of Two Cities,Kaylee,Foster,"Um pouco lento no início, mas depois melhora.",0

In [35]:
df_comentarios['id_livro'] += 1
print(f"{df_comentarios['id_livro'].max()} {df_comentarios['id_livro'].min()}")

174 1

In [36]:
# Substitui valores nulos por NULL e escapa aspas
def format_value(value):
    if pd.isna(value):
        return 'NULL'
    elif isinstance(value, str):
        value = value.replace("'", "''")  # Escapa aspas simples para SQL
        return f"'{value}'"
    else:
        return str(value)

# Nome do arquivo
output_file = "comentarios.sql"

# Abrir o arquivo e escrever os INSERTs
with open(output_file, 'w', encoding='utf-8') as f:
    for _, row in df_comentarios.iterrows():
        values = (
            format_value(row['id_livro']),
            format_value(row['nome']),
            format_value(row['sobrenome']),
            format_value(row['comentario'])
        )
        sql = f"INSERT INTO comentarios (livro_id, nome, sobrenome, comentario) VALUES ({', '.join(values)});\n"
        f.write(sql)

print(f"Arquivo '{output_file}' gerado com sucesso.")

Arquivo 'comentarios.sql' gerado com sucesso.